<a href="https://colab.research.google.com/github/Imtiaz-Hasan/All-Project/blob/master/Accuracy_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import tensorflow as tf
import pandas as pd
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
data = pd.read_excel("/content/drive/MyDrive/Vaccine-history-dataset/binary_dataset.xlsx",header=None)

In [5]:
data.describe()

                  0             1  ...             5              6
count  1.048576e+06  1.048576e+06  ...  1.048576e+06  819269.000000
mean   8.495674e-01  6.675863e-01  ...  2.727649e+00      50.053736
std    3.574951e-01  4.710786e-01  ...  1.855913e+00      18.574701
min    0.000000e+00  0.000000e+00  ...  0.000000e+00       0.080000
25%    1.000000e+00  0.000000e+00  ...  1.000000e+00      36.000000
50%    1.000000e+00  1.000000e+00  ...  3.000000e+00      50.000000
75%    1.000000e+00  1.000000e+00  ...  5.000000e+00      65.000000
max    1.000000e+00  1.000000e+00  ...  5.000000e+00     119.000000

[8 rows x 7 columns]

In [6]:
data.head()

   0  1  2  3  4  5     6
0  0  1  2  3  4  5   6.0
1  1  1  0  0  0  2  33.0
2  1  1  0  0  0  2  73.0
3  1  1  1  1  0  4  23.0
4  1  1  1  0  0  3  58.0

In [7]:
data = data.astype('float32')

In [8]:
data.head()

     0    1    2    3    4    5     6
0  0.0  1.0  2.0  3.0  4.0  5.0   6.0
1  1.0  1.0  0.0  0.0  0.0  2.0  33.0
2  1.0  1.0  0.0  0.0  0.0  2.0  73.0
3  1.0  1.0  1.0  1.0  0.0  4.0  23.0
4  1.0  1.0  1.0  0.0  0.0  3.0  58.0

In [9]:
 data=data.to_numpy()

In [10]:
data.shape

(1048576, 7)

In [11]:
training = data[0:600000]
testing = data[600000:]

In [12]:
print(training.shape)
print(testing.shape)

(600000, 7)
(448576, 7)

In [13]:
training_features = training[:,0:-1]
training_labels = training[:,-1]
testing_features = testing[:,0:-1]
testing_labels = testing[:,-1]

In [14]:
print(training_features.shape)
print(training_labels.shape)

(600000, 6)
(600000,)

In [15]:
training_features[0].shape

(6,)

In [16]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Dense, Dropout

In [27]:
model = Sequential()
model.add(Input(shape=(6,)))
model.add(Dense(12,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(6,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))

In [29]:
model.compile(optimizer='sgd', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(training_features,training_labels,epochs=1000,validation_data=(testing_features,testing_labels))

Epoch 1/1000
18750/18750 [==============================] - 39s 2ms/step - loss: nan - accuracy: 0.0000e+00 - val_loss: nan - val_accuracy: 0.0000e+00
Epoch 2/1000
  764/18750 [>.............................] - ETA: 23s - loss: nan - accuracy: 0.0000e+00